<div class="receipt">
<h2>Table Number: <%=@party.table_number%></h2>
<h2><%=@party.employee.name%> thanks you for your for your visit!</h2>
<h2> Items: </h2>
<% @party.foods.each do |x| %>
	<p>	<%= x.name %> </p>
	<p>	<%= currency(x.price) %> </p>
<%end%>
<h3>TOTAL: <%= currency(@party.foods.where('free = false').sum(:price)) %></h3>

<% twenty = @party.foods.sum("price").to_f * 0.20 %>
<% twenty_five = @party.foods.sum("price").to_f * 0.25 %>
<% thirty = @party.foods.sum("price").to_f * 0.30 %>
<p>Suggested Tip:</p>
<p>20%: <%= currency(twenty) %></p>
<p>25%: <%= currency(twenty_five) %></p>
<p>30%: <%= currency(thirty) %></p>

<h3>Tip:  ______________</h3>
<h3>Total: _____________</h3>
</div>

<% if @party.paid %>

<% else %>
<div class="link">
<a href="/parties/<%= @party.id%>/checkout">CHECKOUT</a>
</div>

<div class="link">
<a href="javascript:window.print()">Print</a>
</div>
<% end %>