<h2>Edit Table Details</h2>
<form action="/parties/<%= @party.id %>" method='POST'>
	<label for="party_table_number">Table Number:</label>

  Waiter:<select name="party[employee_id]">
    <% @employees.each do |employee| %>
      <option value="<%= employee.id %>"><%= employee.name %></option>
    <% end %>
  </select>

	 <select name="party[table_number]">
   		<% @parties.each do |party| %>
    	 <option value="<%= party.table_number %>"><%= party.table_number %></option>

    	<% end %><br>
    </select>


	<label for="party_guests">Guests:</label>
  <input type="text" name='party[guests]' value='<%= @party.guests %>'><br>
  
  <input type="hidden" name="_method" value="PATCH">
  <input type="submit">
</form>

<form action="/parties/<%= @party.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Party">
</form>