<h2>Edit Current Orders for </h2>


	<label for="party_foods">Table Number:<%=@party.table_number</label>
	<% if @food != [] %>
			<% @food.each do |food| %>
			<ol>
			<li>Item: <%= food.name %></li>
			Allergens: <%= food.allergens %><br>
			Price: $<%= food.price %><br>
			</ol>
		</form>
			<%end%>
	<% else %>
			<p>"Nothing ordered yet!" </p>
	<%end%>
  </select>

	
  <!-- <form action="/parties/<%= @party.id %>/foods" method='POST'>
  <label for="paid">Delete Item Number:</label>
  <select name="party[food]">
   		<% @party.each do |party| %>
    	<option value="<%= party.food %>"><%= party.food %></option>

    	<% end %>
  </select> -->


<form action="/parties/<%= @party.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Party">
</form>